body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  padding: 2.4rem;
}
/* BODY */
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-image: url(./assets/bg-mobile-v1.jpg);
}

/* HEADER */
header {
  text-align: center;
  padding: 5rem 0;
}

/* MAIN */
main {
  text-align: center;
  font-size: 2rem;
  line-height: 2.8rem;

  .input-search {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
  }

  label {
    font-size: 1.8rem;
  }

  input {
    height: 4rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;

    background-color: #e4f1f5;
  }

  button {
    appearance: none;
    background: #5ec900;
    padding: 2rem;

    color: #fff;
    font-size: 1.6rem;

    border: solid 1px gray;
    border-radius: 1rem;
  }
}

/* AI LOGOS*/
.ai-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  img {
    width: 9.2rem;
    height: 3.2rem;
    border-radius: 0.6rem;
  }
}

/* FOOTER */
footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 1rem;
}
