body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

/* BODY */
body {
  font-size: 1.6rem;
  font-family: "IBM Plex Mono", monospace;
  background-image: url(./assets/bg-mobile-v1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  display: grid;
  place-content: center;
  padding: 2.4rem;
  height: 100vh;

  gap: 4rem;
}

/* HEADER */
header {
  text-align: center;

  img {
    max-width: 32rem;
    height: auto;
  }
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  text-align: center;
  font-size: 2rem;
  line-height: 2.8rem;

  .input-search {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
  }

  label {
    font-size: 1.8rem;
  }

  input {
    height: 4rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;

    background-color: #e4f1f5;
  }

  button {
    appearance: none;
    background: #5ec900;
    padding: 2rem;

    color: #fff;
    font-size: 1.6rem;

    border: none;
    border-radius: 1rem;

    transition: background-color 0.3s;
  }

  button:hover {
    background: #437b11;
  }
}

/* AI LOGOS*/
.ai-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  img {
    width: 9.2rem;
    height: 3.2rem;
    border-radius: 0.6rem;
  }
}

/* FOOTER */
footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
}

/* MEDIA QUERY */
@media (min-width: 1024px) {
  body {
    background-image: url(./assets/bg-desktop-v1.jpg);
  }

  .App {
    padding: 0 20rem;
  }

  main {
    font-size: 2.8rem;
    line-height: 3.6rem;

    input {
      font-size: 1.6rem;
    }
  }
}
